<div class="contianer">
    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">
                    <h4> Candidate Details </h4>
                 </div>
                <div class="card-body">
                    <form>
                        <input type="hidden" id="hdnUserId" value="@ViewBag.UserId" />
                        <div class="horizontal-form-elements">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"> Name </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="userName" class="form-control" placeholder="Enter the Candidate Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" id="email" class="form-control" placeholder="Enter the Email">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" id="address" placeholder="Enter the Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">DOB</label>
                                        <div class="col-sm-10">
                                            <input type="date" id="dob" class="form-control" placeholder="Enter the Datan of Birth">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <label class="col-sm-8 control-label">Gender</label>
                                    <div class="col-sm-10">

                                        <input type="radio" name="Male" id="Male" value="1">
                                        <label for="Male">Male</label><br />
                                        <input type="radio" name="Female" id="Female" value="2">
                                        <label for="Female">Female</label><br />
                                        <input type="radio" name="Others" id="Others" value="3">
                                        <label for="Others">Other</label><br>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">MobileNo</label>
                                        <div class="col-sm-10">
                                            <input id="mobileNo" type="number" class="form-control" placeholder="Enter the Number">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <label class="col-sm-8 control-label">Qualification</label>
                                    <div class="col-sm-10">

                                        <select id="qualification" class="form-control">
                                            <option>BE</option>
                                            <option>BSC</option>
                                            <option>BCA</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Specialization</label>
                                        <div class="col-sm-10">
                                            <select id="specialization" class="form-control">
                                                <option>PHP</option>
                                                <option>.NET</option>
                                                <option>PYTHON</option>

                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" onclick="AddCandidate" class="btn btn-success m-b-10 m-l-5">save</button>
                                  @*  <button type="button" onclick="SaveorUpdateStudentDetails()" class="btn btn-primary" />*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/pas/administration.js"></script>
<script>
    $(document).ready(function () {
        debugger
        if (@ViewBag.UserId> 0) {
            GetCandidateDetails(@ViewBag.UserId);
        }
    });

</script>



