@{
    Layout = "_Layout2";  
    // Comment above line if you want to use existing deafult layout
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<script>
    $(document).ready(functions() {
        debugger;
        getUserDetails();
            const getUserDetails = async () => {
            var baseUri = "https://localhost:7138/api";
            var controller = "/User";
            var action = "/GetUserDetails";
            var Response;

            try {
                await $.ajax({
                    type: 'GET',
                    url: baseUri + controller + action,
                    contentType: "application/json",
                    data: {},
                    async: false,
                    success: function (data) {
                        debugger;
                        if (data != null && data.statusCode == 200) {
                            if (data.resultData.length > 0) {
                                //var tbodydata = '';
                                //$.each(data.resultData, function (key, value) {
                                //    tbodydata += '<tr>';
                                //    tbodydata += '<td> <a href="/AddOrUpdateStudentDetails?StudentId=' + value.studentId + '">Edit</a><a href = "#"onclick="DeleteStudentById(' + value.studentId + ')">Delete</a></td>';
                                //    tbodydata += '<td>' + value.studentId + '</td>';
                                //    tbodydata += '<td>' + value.firstName + '</td>';
                                //    tbodydata += '<td>' + value.lastName + '</td>';
                                //    tbodydata += '<td>' + value.address1 + '</td>';
                                //    tbodydata += '<td>' + value.address2 + '</td>';
                                //    tbodydata += '<td>' + value.phoneNo + '</td>';
                                //    tbodydata += '</tr>';
                                //});

                                //$("#tblStudent tbody").empty();
                                //$("#tblStudent tbody").append(tbodydata);
                            }
                        }
                    }
                });
            }
            catch (err) {
                await console.log(err);
            }

            return Response;
        }
    });
</script>

