<div class="contianer">
    <div class="row">
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-title">
                <h4> Project Details</h4>

            </div>
            <div class="card-body">
                <div class="jsgrid-table-panel">
                    <div id="tblProjectId" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
                        <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                            <table class="jsgrid-table">
                                <thead>
                                    <tr class="jsgrid-header-row">

                                        <th class="jsgrid-header-cell jsgrid-align-center">Project Title</th>
                                        <th class="jsgrid-header-cell jsgrid-align-center">Project Scope</th>
                                        <th class="jsgrid-header-cell jsgrid-align-center">Project Future</th>
                                        <th class="jsgrid-header-cell jsgrid-align-center">Project Announcement </th>

                                        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;">
                                            <a asp-controller="ProjectAllotment" asp-action="ProjectDetails">  <span class="jsgrid-button jsgrid-mode-button jsgrid-insert-mode-button ti-plus" type="button" title=""></span></a>
                                        </th>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
