<div class="contianer">
    <form id="frmProjectdetails">
        <input type="hidden" id="tblProjectId" value="@ViewBag.UserId" />
        <div class="horizontal-form-elements">
            <div class="row">

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-title">
                            <h4> Project Details </h4>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"> Project Title </label>
                                        <div class="col-sm-10">
                                            <input type="text" id="project"  class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Project Scope</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="project" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 control-label">Project Feture</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="project" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 control-label">Project Announcement</label>
                                <div class="col-sm-10">
                                    <input type="text" id="project" class="form-control">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <button type="button" onclick="ProjectDetails" class="btn btn-success m-b-10 m-l-5">save</button>
    </form>
</div>


